body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
  margin: 0;
}

h1 {
  font-weight: lighter;
}

.page-header {
  background-color: #F8F8F8;
  position: fixed;
  width: 100%;
  text-align: center;
}

span {
  display: block;
  text-align: left;
}

#product-price {
  font-weight: bolder;
}

.product-price {
  font-weight: bolder;
  font-size: 3rem;
}

.product-price-details {
  padding-top: 5rem;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.price-details {
  padding-left: 4rem;
}

#individual-product-image, .price-details {
  padding-top: 2rem;
}
.product-special-offer {
  color: #880000;
  font-weight: bolder;
  font-size: 1rem;
}

#products {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
  width: 105%;
}

.product-square {
  width: 23%;
  margin: 0;
  padding: 0.5rem;
  padding-top: 1.5rem;
  border-style: solid;
  border-width: thin;
  border-color: #E8E8E8;
  text-align: center;
}

#grid-product-image {
  width: 80%;
}

#product-title, #product-price {
  padding-left: 0.5rem;
}

#individual-product-image {
  width: 60%;
  align-self: center;
  padding: 3rem;
}

#product-information-header {
  font-size: 2rem;
  color: #606060;
  padding-bottom: 1rem;
}

#product-information-header, #product-information, #product-code {
  padding-left: 3rem;
  padding-right: 3rem;
}

#product-information, #product-code {
  color: #505050;
}

#back-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  font-size: 2rem;
}

.back-button {
  position: absolute;
  padding: 1.3rem;
}

strong {
  font-weight: normal;
}

@media only screen and (orientation: portrait) {
  .product-square {
    width: 47%;
  }

  .product-price-details {
    padding-top: 5rem;
    width: 100%;
    display: block;
  }

  .price-details {
    padding-left: 3rem;
    padding-bottom: 3rem;
    border-top: 1rem solid #E8E8E8;
  }
}
